@import '../_colors.scss';

.music-input {
  display: flex;
  flex-direction: column;

  input, button {
    outline: none;
    margin: 0 auto;
    border-radius: 10px;
  }

  input {
    color: $black;
    font-size: 15px;
    max-width: 500px;   
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    height: 50px;
    border: 1px solid $grey-border-1;
  }

  button {
    text-transform: uppercase;
    padding: 15px 55px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    color: $white;
    box-shadow: 0 0 20px $white-box-shadow;
    transition: 0.5s;
    border: none;
    background-size: 200% auto;
    background-image: linear-gradient(to right, $green-highlight 0%, $blue-highlight 51%, $green-highlight 100%);
  }

  button:hover {
    background-position: right center;
  }

  button:disabled {
    background: radial-gradient(circle, rgba(205,206,207,1) 0%, rgba(170,201,190,1) 91%);
  }
  
  p {
    color: $red;
    height: 10px;
    margin-bottom: 30px;
  }
}