$black: rgb(21,21,21);
// to keep track of box shadow and gradient colors
$black-box-shadow: rgba(0,0,0,0.1);
$black-box-shadow-1: rgba(0,0,0,0.2);
$black-box-shadow-2: rgba(0,0,0,0.5);
$black-box-shadow-3: rgba(0,0,0,0.6);

$white: rgb(255, 255, 255);
$white-box-shadow: rgb(245, 244, 244);
$white-box-shadow-1: rgb(233, 233, 233);
$white-box-shadow-2: rgba(255,255,255,0.2);
$white-box-shadow-3: rgb(204, 204, 204);

$grey-border: rgba(255,255,255,0.8);
$grey-border-1: rgb(153, 153, 153);
$grey-border-2: rgb(119, 119, 119);
$grey-border-3: rgb(85, 85, 85);
$grey-border-4: rgb(68, 68, 68);

$green-highlight: rgb(132, 250, 176);
$blue-highlight: rgb(143, 211, 244);

$red: rgb(172, 8, 8);